/* fonte do texto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* reset config web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* pagina */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255,238,205);
    background: linear-gradient(0deg, rgba(255,238,205,1) 0%, rgba(224,205,98,1) 100%); 
}

/* menu de navegação */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 150px;
    background-color: #46342a;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}


.menu {
    max-width: 70px;
}


.navigation .link {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    width: 130px;
    height: 50px;
    font-weight: 500;
    margin-left: 40px;
    border-radius: 6px;
}

.navigation .link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .link:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

button#btnLogin-popup {
    width: 130px;
    height: 50px;
    border: 2px solid;
    background: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

button#btnLogin-popup:hover {
    background: #735340;
    transition: 0.3s;
    color: #46342a;
}

/*  inicio  */

.site {
    width: 100%;
    height: 100%;
}

main {
    margin-top: 90px;
    margin-left: 200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

main section {
    margin-left: 10px;
}

footer {

    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#home {
    margin-top: 100px;
    margin-left: 270px;
    font-size: 50px;
    margin-bottom: 100px;
}
#home p {
    margin-left: 70px;
}

.fotos {
    width: 560px;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 25px;
}

.cont {
    padding: 20px;
    background-color: #735340;
    width: 619px;
    height: 700px;
    border: #735340 solid 10px;
    writing-mode: horizontal-tb;  
    font-size: 30px;
    margin-bottom: 100px;
    color: #fff;
}

.cont h2 {
    margin-left: 180px;
    margin-bottom: 20px;
}

.cont p {
    margin-left: 30px;
}