/* fonte do texto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* reset config web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* pagina */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255,238,205);
    background: linear-gradient(0deg, rgba(255,238,205,1) 0%, rgba(224,205,98,1) 100%); 
}

/* menu de navegação */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 150px;
    background-color: #46342a;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}


.menu {
    max-width: 70px;
}


.navigation .link {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    width: 130px;
    height: 50px;
    font-weight: 500;
    margin-left: 40px;
    border-radius: 6px;
}

.navigation .link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .link:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

button#btnLogin-popup {
    width: 130px;
    height: 50px;
    border: 2px solid;
    background: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

button#btnLogin-popup:hover {
    background: #735340;
    transition: 0.3s;
    color: #46342a;
}

/*  loja  */

.site {
    width: 100%;
    height: 80%;
    margin-top: 90px;
}
.container {
    justify-content: space-around;
    padding: 20px;
}

.card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 700px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    background-color: #735340;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 22px;
    margin: 10px 0;
    color: #46342a;
    text-align: center;
}

.card p {
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
}

.card .price {
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
    margin-bottom: 10px;
}

.card button {
    width: 270px;
    background-color: #46342a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.card button:hover {
    background-color: #d1ac47;
}